ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 50px;

}

ul li {
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

ul li:hover {
    color: #0c7e34;
    transition: .3s;

}