.navigation {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 50px;
}

.navigation li {
    margin-left: 20px;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    transition: .3s;
    border-radius: 25px;
}

.navigation li:hover {
    transition: .3s;
    background-color: #0c7e34;
    color: white;
}

.actived {
    background-color: #0c7e34;
    color: white;
}