.logoPng {
  width: 100px;
  margin-right: 40px;
 }

.header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo_title {
  display: flex;
  align-items: center;
}

.cart_btn {
  background: #8A2BE2;
  display: flex;
  align-items: center;
  padding: 3px 25px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.cart_empty {
 text-align: center;
}



.cart button {
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.border-right {
  border-right: 1px solid white;
  height: 25px;
  padding-left: 10px;
}

.cart_logo {
  color: white;
  margin-left: 10px;
  fill: white;
}
.total_price {
  color: white;
  border: none;
}
