.root {
  position: relative;
  left: -72px;
  }

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.5;
  position: absolute;
  left: 14px;
  top: 12px;

}

.input {
  border: 2px solid #8A2BE2;
  padding: 12px 20px;
  width: 650px;
  border-radius: 10px;
  padding-left: 42px;
  font-size: 16px;
  &:focus {
    border: 1px solid #8A2BE2;
  }
}

.closeIcon {
  position: absolute;
  width: 18px;
  height: 18px;
  opacity: 0.3;
  right: 15px;
  top: 15px;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}